*
{
    font-family: Impact;
    margin: 30px;
}
h1
{
    padding: 15px;
    border: 10px ;
    border-style: dotted;
    color: darkorchid;
    text-align: center;
    text-decoration: overline;
    text-transform: uppercase;

}
p
{
    color: royalblue;
    text-align: justify;
    padding: 10px;
    border-style: solid;
    border-radius: 20px;
    border-color: red;
    background-color: chartreuse;
}
img
{
    width: 37%;
}
body
{
    background-color: #222222;
}